/* font faces */
@font-face {
    font-family: century-gothic;
    src: url(../fonts/century-gothic-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: century-gothic;
    src: url(../fonts/century-gothic-bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: century-gothic;
    src: url(../fonts/century-gothic-italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: century-gothic;
    src: url(../fonts/century-gothic-bolditalic.ttf);
    font-weight: bold;
    font-style: italic;
}




img.picture {
    background:url('../images/picture.png') center center no-repeat #eee;
    box-shadow: 0px 4px 10px #ddd;
}

.head {
    position: fixed;
    background: #ddd;
    top:0;
    left:0;
    width: 100%;
    opacity: 0.6;
    text-align: center;
    font-size: 90%;
    padding-top: 0.5em;
}

.banner {
    margin-top: 4em;
}

.banner .floby-primary h2, 
.banner .floby-primary h1 {
    font-size: 38.5px;
}

.banner .project h1 {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 24.5px;
}

.banner .menu {
    margin-top: 20px;
    margin-bottom:0;
}

.main {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.loaded .main {
    opacity: 1;
}


.footer {
    font-size: 75%;
    opacity: 0.75;
    padding-bottom: 1em;
}
 .footer .copyright {
    text-align: right;
 }




/** PAGE SPECIFIC STYLES **/
.shortener .main .message {
    font-size: 85%;
}
