img.picture {
    background:url('../images/picture.png') center center no-repeat #eee;
    box-shadow: 0px 4px 10px #ddd;
}
.footer {
    font-size: 75%;
    opacity: 0.75;
}
 .footer .copyright {
    text-align: right;
 }
