<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    {% assign head_title = "Flo.by" %}
    {% if site.title != NULL %}
        {% capture head_title %}{{ site.title }} - {{ head_title }}{% endcapture %}
    {% endif %}
    {% if page.title != NULL %}
        {% capture head_title %}{{ page.title }} - {{ head_title }}{% endcapture %}
    {% endif %}
    <title>{{ head_title }}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ site.url }}/bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/css/pygments_style.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript">
      var _gaq = _gaq || [];
    </script>
</head>

<body>
    {% if site.project != NULL %}
        {% assign page_project = site.project %}
    {% else if page.project != NULL %}
        {% assign page_project = page.project %}
    {% endif %}
    <div class="head">
        <div class="container">
        	<div class="row">
        		<div class="span12">
                    <p><em>This website is still under construction. Be advised!</em></p>
                </div>
        	</div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="span2">
                <h1 class="floby-primary"><a href="http://www.flo.by/">Flo.by</a></h1>
            </div>
            <div class="span4 project">
                {% if site.project != NULL %}
                <h3 class="muted">{{ site.project }}</h3>
                {% else if page.project != NULL %}
                <h3 class="muted">{{ page.project }}</h3>
                {% endif %}
            </div>
            <div class="span6">
                {% assign menu_item = '' %}
                {% if site.menu_item != NULL %}
                    {% assign menu_item = site.menu_item %}
                {% endif %}
                {% if page.menu_item != NULL %}
                    {% assign menu_item = page.menu_item %}
                {% endif %}
                <ul class="nav nav-pills menu">
                    {% if menu_item == 'home' %}
                        <li class="active"><a href="http://www.flo.by/">Home</a></li>
                    {% else %}
                        <li class=""><a href="http://www.flo.by/">Home</a></li>
                    {% endif %}
                    {% if menu_item == 'projects' %}
                        <li class="active"><a href="http://projects.flo.by/">Projects</a></li>
                    {% else %}
                        <li><a href="http://projects.flo.by/">Projects</a></li>
                    {% endif %}
                    <li class="disabled"><a rel="comingsoon" href="#">Work</a></li>
                    {% if menu_item == 'resume' %}
                        <li class="active"><a target="_blank" onclick="javascript:_gaq.push(['_trackPageview', '/resume.pdf']);" href="http://www.flo.by/files/Florent-Jaby-CV.pdf">Resume</a></li>
                    {% else %}
                        <li><a target="_blank" onclick="javascript:_gaq.push(['_trackPageview', '/resume.pdf']);" href="http://www.flo.by/files/Florent-Jaby-CV.pdf">Resume</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- .banner -->

    <div class="main">
         {{ content }}
    </div>
    <div class="container footer">
        <hr />
        <div class="row">
            <div class="span3 aknowledgement">
                <em>Website created using <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a></em>
            </div>
            <div class="span2 offset4">
                {% if page.last-updated != NULL %}
                <i>Last updated: {{ page.last-updated | date_to_string }}</i>
                {% elsif site.last-updated != NULL %}
                <i>Last updated: {{ site.last-updated | date_to_string }}</i>
                {% else %}
                <i>Last updated: {{ site.time | date_to_string }}</i>
                {% endif %}
            </div>
            <div class="span3 copyright">
                <em>Copyright © 2013 Florent Jaby</em>
            </div>
        </div>
    </div><!-- .footer -->
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ site.url }}/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ site.url }}/js/prefixfree.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $('[rel=tooltip]').tooltip();
        $('[rel=comingsoon]').tooltip({
            title: 'Coming soon!',
            placement: 'bottom'
        });
        $(function() {
            setTimeout(function() {
                $(document.body).addClass('loaded');
            }, 100);
        })
    </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37756010-1']);
  _gaq.push(['_setDomainName', window.location.hostname]);
{% if page.analytics_url != NULL %}
  if(!window._flobyVirtualPageName) {
      window._flobyVirtualPageName = '{{ page.analytics_url }}';
  }
{% endif %}
  if(window._flobyVirtualPageName) {
      _gaq.push(['_trackPageview', window._flobyVirtualPageName]);
  }
  else {
      _gaq.push(['_trackPageview']);
  }

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>

